@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    /* width: 100vw; */
    height: 100vh;
    background-color:#5372f0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
 
 
 }
 .choix{
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 .choix h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #999;


 }
 img{
    width: 60px;
    height: 60px;
    margin: 20px 0;
 }
 button{
    padding: 5px 30px;
    margin-top: 20px;
    border: 1px solid #5372f0;
    background-color: #5372f0;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
  transition: 0.5s;
  text-transform: capitalize;
    

 }
 button:focus{
    background-color: #fff;
    color: #5372f0;

 }
 @media screen and (max-width:414px) and (min-width:295px){
   section{
      width: 359.5px;
      padding: 20px;
   }
   img{
      width: 30px;
      height: 30px;
      margin: 15px 0;

 }
 button{
   padding: 15px;
 }
}